bcrypt
fastapi
lxml
numpy
pandas
pdfminer.six
pdfplumber
pillow
pypdf
pypdfium2
pymupdf
pytesseract
psycopg[binary]
psycopg_pool
python-docx
python-multipart
pyyaml
requests
sentence-transformers
uvicorn
